/* General */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Encabezado */
header {
    background-image: url('../images/photo1.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0.5rem 0 1rem;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Estilo para enlaces */
.custom-link {
    color: black; /* Cambia el color del enlace a negro */
    text-decoration: none; /* Elimina el subrayado */
}

.custom-link:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}

/* Contenido principal */
main {
    flex: 1;
    padding: 2rem;
}

/* Contenedor para la imagen y el cuadro */
.image-infobox-container {
    display: flex;
    align-items: flex-start;
    gap: 2rem; /* Añade más espacio entre la imagen y el cuadro */
    margin-bottom: 2rem;
}

.aquiles-image {
    max-width: 300px;
    height: auto;
    display: block;
    border: 1px solid #ccc; /* Borde opcional para la imagen */
    border-radius: 5px; /* Bordes redondeados */
}

.infobox {
    width: 300px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px; /* Bordes redondeados */
}

/* Playlist de YouTube */
.youtube-playlist {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

/* Citas */
blockquote {
    font-size: 1rem;
    font-style: italic;
    color: #333;
    border-left: 5px solid #888;
    padding-left: 1rem;
    background-color: #f9f9f9;
    margin: 1.5rem 0;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
