html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-image: url('../images/photo1'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el header */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: white; /* Cambia el color del texto a blanco para mayor contraste */
    padding: 2rem 1rem; /* Ajusta el padding para hacer el header más ancho */
    text-align: center;
    height: 200px; /* Ajusta la altura del header según tus necesidades */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0 0 0.2rem 0; /* Reduce el margen inferior del título */
}

header h2 {
    margin: 0.2rem 0 1.5rem 0; /* Ajusta el margen para acercar el subtítulo al título y alejarlo de los enlaces */
    font-size: 1rem; /* Ajusta el tamaño de la fuente del subtítulo */
    color: white; /* Asegura que el color del subtítulo sea blanco */
}

nav {
    margin-top: 0.5rem; /* Añade margen superior a la navegación para alejarla del subtítulo */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Elimina el margen para centrar correctamente */
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1; /* Permite que el main ocupe el espacio disponible */
    padding: 2rem;
}

.infobox {
    width: 300px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 0 auto 2rem auto;
}

.infobox-title {
    font-size: 1.5rem;
    text-align: center;
    background-color: #e9e9e9;
    padding: 5px;
}

.infobox-image {
    text-align: center;
    padding: 10px;
}

.infobox img {
    max-width: 100%;
    height: auto;
}

.infobox th,
.infobox td {
    padding: 5px;
    vertical-align: top;
    text-align: left;
}

blockquote {
    font-size: 1rem; /* Tamaño de fuente más grande para hacer el texto más llamativo */
    font-style: italic; /* Estilo cursiva para las quotes */
    color: #333; /* Color del texto */
    border-left: 5px solid #888; /* Barra vertical para resaltar la quote */
    margin: 1.5rem 0; /* Márgenes alrededor de la quote */
    padding-left: 1rem; /* Espaciado interno para la quote */
    background-color: #f9f9f9; /* Fondo claro para resaltar la quote */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.1rem; /* Reduce el padding para hacer el footer más delgado */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto; /* Ajusta la altura del footer automáticamente según el contenido */
}

.youtube-playlist {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.youtube-playlist {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
